@use 'src/styles/_vars.scss' as v;

.rsvp {
  // display: flex;
  // min-height: 100vh;
&__title {
    font-size: 2rem;
    padding: 3rem; 

  }
  &__container-imgAndForm{
    display: flex;
    flex-direction:row;
    margin: 0rem 5rem 0rem 5rem; 
  }
 
  &__container-form {
   display: flex;
   flex-direction: column;
   max-width: 60%;
    width:100%;

  }
  &__container-img{
    max-width: 41%;
  }
  &__container-presence{
    display: flex;
    padding-bottom: 0.5rem;
    flex-direction: column;
  }
    &__strong{
      font-weight: bold;
    }
    &__container-accompanied{
      display: flex;
      flex-direction: column;
    }

  &__firstname {
    visibility: hidden;
    position:absolute;
    &.show-firstname {
      position: relative;
      visibility: visible;
      margin-bottom: 1rem;
    } 
  }
  &__firstname, &__child {
    border:none;
    padding: 1rem;
    border-bottom: solid grey 0.5px;
    background-color: v.$primaryColor;
    font-size: 1rem;
    &::placeholder{
      font-size:0.9rem; 
    }
  }
  &__container-children{
    padding-bottom: 2rem;
    
  }
 &__container-submit{
   padding: 3rem 0 3rem 0;
 }
  &__submit-btn{
    border: none;
    padding: 0.6rem;
    background-color: v.$thirdColor;
    color: white;
    border-radius: 0.3rem;
    &:hover{
    background-color: v.$secondaryColor;
    color: white;
  }
    &:disabled{
    background-color: #ccc;
    color: white;
    }
  }
  
  &__img{
    width:100%;
    margin-top: 2rem 0 2rem 0;
    border-radius: 18rem;
    padding-top: 1rem;
  }
}

/*checkbox css*/

.container {
  display: block;
  position: relative;
  margin-left: 1rem;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  z-index: 1;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: v.$secondaryColor;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
/* Style the checkmark/indicator */
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}


@media only screen and (max-width : 768px) {
  .rsvp{
    
    &__title{
      font-size: 1.6rem;
      padding: 2rem;
    }
    &__container-imgAndForm{
    display: flex;
    flex-direction:row;
    // margin: 0rem 4rem 2rem 2rem; 
    margin: 0rem 1.7rem; 
  }
    p {
      min-width:19rem;
    }
    &__img{
    display: none;
  }

    &__container-submit{
    display: flex;
    flex-direction:row;
    max-width: 100%;
    
    }
    &__img-mobile {
    max-width: 60%;
    max-height: 60%;
    }
  }
  
}
