$fontHeading: 'Sacramento', cursive;
$primaryColor: rgb(249, 246, 243);
$secondaryColor: #c7b3ab;
$thirdColor : #d8c7bf;
$filter: invert(64%) sepia(83%) saturate(57%) hue-rotate(331deg) brightness(88%) contrast(86%);