@use 'reset';
@use 'vars' as v;

// html {
//   height: 100%;
//   margin: 0; 
//   padding: 0;
// }

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 24px;
  // display : table;
	min-width: 100vw;
  // position: relative;
  // display: flex;
  // flex-direction: column;
  background-color: v.$primaryColor;
  // box-sizing: border-box;
  // padding-bottom: 5rem;
}

h1, h2, h3 {
  font-family: v.$fontHeading;
}

@font-face {
        font-family: 'Roboto', sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');
        font-weight: bold;
        font-style: italic;
}
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');
