@use 'src/styles/_vars.scss' as v;

.agenda {
  &__title {
    font-size: 2.4rem;
    padding-bottom: 1.5rem;
    padding-top:1.5rem;
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
  }
  &__day-title {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2.3rem;
  }
  &__container-multiple-event {
    display: flex;
    flex-direction: column;
    float: left;
  }

  &__container-event {
    display: flex;
    //  border: solid 1px red;
    position: relative;
    //  float: left;
    padding-bottom: 1rem;

  }
  &__event-side-separator {
    display: flex;
    // flex-direction: column;
    align-items: center;
    padding-top: 10px;
    // flex-grow: 1;
  }
  &__event-separator {
    padding-left: 0.6rem;
    padding-top: 1.4rem;
  }
  &__event-icon {
    padding-right: 1rem;
    position: absolute;
    top: 0rem;
  }

  &__container-event-text {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  &__event-title {
    font-size: 1.1rem;
    // text-decoration: underline;
    padding-bottom: 1.7rem;
    font-weight: bold;
  }
  &__event-paraph {
    font-size: 1.1rem;
    text-decoration: none;
    padding-bottom: 1.7rem;
    a {
      text-decoration: underline;
    }

    // &:before {
    //   content:'';
    //   position: absolute;
    //   background: url('src/assets/svg/separation.svg');
    //   width: 50px;
    //   height: 50px;
    // }
  }
  &__address {
    font-style: italic;
    font-weight: 300;
    &:hover {
      filter: v.$filter;
    }
  }
  &__container-img {
    position: relative;
    // border: 1px solid black;
    width: 39%;
  }
  &__star {
    position: absolute;
    left: 3rem;
    top: 2rem;
  }
  &__star2 {
    position: absolute;
    left: 1rem;
    top: 0rem;
  }
  &__star3 {
    position: absolute;
    right: 2rem;
    top: 0rem;
  }
  &__star4 {
    position: absolute;
    left: 3rem;
    bottom: 6rem;
  }
  &__stars {
    position: absolute;
    right: -1.5rem;
    bottom: 3rem;
  }
  &__img {
    display: block;
    margin: auto;
    margin-top: -4.5rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    padding-bottom: 0.8rem;
  }
  .agenda {
    &__img--title {
      // z-index: 100;
      &::before {
        content: '';
        position: absolute;
        top: 5.5rem;
        left: 0;
        width: 100%;
        height: 39%;
      //  height: min(100vh, 240px);
        background-image: url('src/assets/img/agendaMainPicture.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        box-shadow: 0 -86px 51px -23px v.$primaryColor inset;
        // z-index: 1;
      }
      & > * {
      position: relative;
      z-index: 2;
    }
    }
    &__title {
      font-size: 2rem;
      padding-bottom: 12.7rem;
      padding-left: 1rem;
      & > * {
      z-index: 3;
    }
    }
    &__container {
      flex-direction: column;
    }
    &__container-multiple-event {
      padding-top: 1rem;
      z-index: 50;
    }
    &__container-event {
    padding-left: 0.6rem;
    padding-right:0.6rem;
  }
  &__event-separator {
    padding-left: 1.6rem;
}
    &__event-icon {
      display: flex;
      flex-grow: 0;
      padding-left: 1rem;
    }

    &__stars {
      display: none;
    }
    &__star{
      position: absolute;
      left: 17rem;
      top: 16rem;
    }
    &__star2 {
    position: absolute;
    left: 2rem;
    top: 0;
}
    &__star3 {
      position: absolute;
      left: 18rem;
      bottom: 34rem;
    }
    &__star4 {
      position: absolute;
      left: 18rem;
      bottom: 27rem;
    }

    &__img {
      display: none;
      // display: block;
      // margin: auto;
      // display: block;
      // margin: auto;
      // margin-top: -2rem;
    }
  }
}
