@use 'src/styles/_vars.scss' as v;

.construction {
  position: relative;
  height: 100vh;
  &__video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
  }
  &__credit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  font-size:1.1rem;
  }
}

h1 {
  font-size: 3.7rem;
  text-align: center;
  padding: 1.5rem;
}

@media screen and (max-device-width: 800px) {
  body {
    background-color: v.$primaryColor;
  }
  h1 {
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }
  .construction__video {
    width: 100%;
    height: 50%;
  }
  .construction__credit {
    font-size: 0.8rem;
  }
}
