@use 'src/styles/_vars.scss' as v;

.footer {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    background-color: v.$primaryColor;
    // bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  &__contact {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    // box-shadow: rgb(0 0 0 / 7%) 0px 2px 5px;
    flex-direction: column;
    text-align: center;
    &__contact {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
