@use 'src/styles/_vars.scss' as v;


.header {
    &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 5px;
    width:100%;
    padding-bottom: 0.6rem;
    }
    &__navbar-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // min-width: 16rem;
    width:25%;
    a {
      display: flex;
      // flex-grow: 1;
      align-items: center;
      flex-direction: column;
      // height: 50px;
    }
  }

  &__selected {
    .header__highlight {
      visibility: visible;
    }
  }
  &__highlight {
    visibility: hidden;  
  }
  &__icon {
    width:1.85rem;
    height:3rem;
    padding-bottom: 0.5rem;
    &:hover{
      filter: v.$filter;
    }
  }
  
  &__title {
  font-size: 3rem;
  // margin-top:-1.5rem;
  line-height:3rem;
  text-align: center;
  // padding-right: 3rem;
}
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 20%;
  // transition: transform ease-out 1s;
  &__icon{
    padding-right:1rem;
  }
  &__content {
  // visibility:hidden;
  transition: transform ease-out 0.2s;
  position: absolute;
  // background-color: white;
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  z-index: 1;
  border-radius: 70% 70% 70% 70%;
}
&:hover ~ .dropdown__content{
  // visibility: visible;
  // display: block;
  margin-left: 0px;
  transform: translateY(10px);
}

&__deconnect-btn {
border:none;
border-radius: 70% 70% 70% 70%;
width: 8rem;
padding: 0.7rem;
background-color: v.$primaryColor;
&:hover {
  background-color: #ccc;
}
}
}


@media only screen and (max-width : 768px) {  
 .header {
  // width:100vh;
   
   &__navbar{
     padding-top:0.3rem;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%
   }
    &__navbar-element {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    max-width: 22rem;
    a {
      display: flex;
      flex-grow: 1;
      align-items: center;
      flex-direction: column;
      height: 50px;
    }
  }
  &__title {
  font-size:2rem;  
  padding-top: 1rem;
  line-height: 2.2rem
  // justify-content: space-between;
  }
  &__icon {
    padding-left:1rem;
    width: 2.5rem;
    height: 3rem;
    position: relative;
  }
}
.dropdown{
  text-align:center;
  &__content {
  visibility:hidden;
  }
}
}