@use 'src/styles/_vars.scss' as v;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 5px;
  // // width:100%;
  padding-bottom: 0.6rem;

  &__navbar {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    a , button {
      display: flex;
      max-width: 4.5rem;
      max-height: 4.5rem;
      align-items: center;
      flex-direction: column;
    }
  }

  &__selected {
    .header__highlight {
      visibility: visible;
    }
  }
  &__highlight {
    visibility: hidden;
  }
  &__profile{
    border:none;
    background-color:v.$primaryColor;
  }
  &__icon {
    width: 1.85rem;
    height: 3rem;
    padding-bottom: 0.5rem;
    &:hover {
      filter: v.$filter;
    }
  }

  &__title {
    font-size: 3rem;
    // margin-top:-1.5rem;
    line-height: 3rem;
    text-align: center;
    padding-right: 11rem;
    text-align: center;
  }
  &__date {
    padding-right: 6rem;
    padding-top: 0.7rem;
  }
}

@media (max-width:1250px) and (min-width:767px) {
  .header{
    &__title{
      font-size: 2.1rem;
      padding-right: 2.5rem;
    } 
   &__navbar {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    a , button {
      display: flex;
      max-width: 4rem;
      max-height: 4rem;
      align-items: center;
      flex-direction: column;
    }
  }
}
}

@media only screen and (max-width: 767px) {
  .header {
    // width:100vh;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    &__navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        display: flex;
        max-width: 3rem;
        max-height: 3rem;
        align-items: center;
        flex-direction: column;
      }
    }
    &__title {
      font-size: 2rem;
      padding-right: 0rem;
      padding-bottom: 0rem;
      padding-top: 0rem;
      line-height: 2.2rem;
      // justify-content: space-between;
    }
     &__date{
    padding-right: 0rem;
    padding-top: 0rem;
    text-align: center;
  }
  }
  
}
