
.place-infos {
  
    
    &__text-icon{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 2rem;
    }
    &__icon {
  padding-left: 1rem; 
}
&__img{
  
  max-width: 16rem;
  max-height: 8rem;
}
}


@media only screen and (max-width: 768px) {
.place-infos {

    width: 15rem;
    height: 13rem;
    background-color: white;
}

}